In [1]:
import numpy as np
import pandas as pd
import uuid
import random
from datetime import timedelta

In [2]:
open_orders = dict()
event_types = ['order_created', 'order_fulfilled']
periods = [ts for ts in pd.date_range(start='1/1/2008', end='31/12/2018') if random.random()>0.8]

In [3]:
def new_random_order():
    return {'order_id': uuid.uuid4(),
            'amount': random.random() * 1000,
            'created_at': random.choice(periods)}

In [4]:
def new_random_event():
    event_type = random.choice(event_types)
    order_info = new_random_order()
    if event_type=='order_created':
        open_orders[order_info['order_id']] = order_info
    else:
        if len(open_orders):
            order_id = random.choice(list(open_orders.keys()))
            order_info = open_orders[order_id]
            order_info['created_at'] = order_info['created_at'] + timedelta(random.randrange(0,180))
        open_orders.pop(order_info['order_id'], None)
        
    return {"event_id": uuid.uuid4(),
            "event_type": event_type,
            "order_id": order_info['order_id'],
            "amount": order_info['amount'],
            "created_at": order_info['created_at']}

In [5]:
df = pd.DataFrame([new_random_event() for _ in range(0, 100)])

In [6]:
df.head()

,event_id,event_type,order_id,amount,created_at
0,8062355a-23f4-4b14-8034-d997874f6f07,order_fulfilled,850b9094-79cf-4477-bb4e-0ac9ff216cb0,433.527827,2013-01-21
1,808a9cdf-bb74-4296-a8ba-8787bd09db0b,order_created,eb33363f-62ee-425d-9174-28f812269d2f,882.737114,2009-08-03
2,5a8dd9cb-e254-449c-8c93-e78254fb4745,order_created,ad2ea0d5-ed66-4d5f-a334-f18c07c2f9ee,440.740871,2008-06-25
3,2310fce1-7863-48ab-8fb9-66f9d13ade7f,order_created,28cff0c9-27cd-4d60-8489-0608388cf83f,858.093322,2017-11-19
4,824d8ef7-72ec-43db-9d5b-778edc4ab7d7,order_created,1e4c5e6a-7d3e-4d28-ac56-ae4c4133b917,494.250091,2017-01-01

In [7]:
df.shape

(100, 5)

Q1. List all events with "event_type" as "order_created" where "order_fulfilled" is at least 30 days later than the "order_created" (dates are based on "created_at").

In [8]:
#Creating a new dataframe for order_created and fulfillefd event type
created_df = df.loc[df["event_type"] == "order_created"]
fulfilled_df = df.loc[df["event_type"] == "order_fulfilled"]

In [9]:
print(created_df.head(), '\n' , created_df.shape)

                               event_id     event_type  \
1  808a9cdf-bb74-4296-a8ba-8787bd09db0b  order_created
2  5a8dd9cb-e254-449c-8c93-e78254fb4745  order_created
3  2310fce1-7863-48ab-8fb9-66f9d13ade7f  order_created
4  824d8ef7-72ec-43db-9d5b-778edc4ab7d7  order_created
9  2586858e-f32c-4762-8b8d-80856991803f  order_created

                               order_id      amount created_at
1  eb33363f-62ee-425d-9174-28f812269d2f  882.737114 2009-08-03
2  ad2ea0d5-ed66-4d5f-a334-f18c07c2f9ee  440.740871 2008-06-25
3  28cff0c9-27cd-4d60-8489-0608388cf83f  858.093322 2017-11-19
4  1e4c5e6a-7d3e-4d28-ac56-ae4c4133b917  494.250091 2017-01-01
9  98fb367b-24ae-4819-8e13-217b8992ede5  892.752257 2017-05-22
 (53, 5)

In [10]:
print(fulfilled_df.head(), '\n' , fulfilled_df.shape)

                               event_id       event_type  \
0  8062355a-23f4-4b14-8034-d997874f6f07  order_fulfilled
5  40c0e153-566a-4720-9c03-5e023e2c27c9  order_fulfilled
6  ef3ba005-1c87-443f-ac99-ecc0038db073  order_fulfilled
7  d48fbfa0-750b-4d42-865b-33fdeed88548  order_fulfilled
8  28858538-87b5-4cd6-8079-2170f1d6c3a3  order_fulfilled

                               order_id      amount created_at
0  850b9094-79cf-4477-bb4e-0ac9ff216cb0  433.527827 2013-01-21
5  28cff0c9-27cd-4d60-8489-0608388cf83f  858.093322 2017-12-13
6  eb33363f-62ee-425d-9174-28f812269d2f  882.737114 2009-08-25
7  ad2ea0d5-ed66-4d5f-a334-f18c07c2f9ee  440.740871 2008-08-27
8  1e4c5e6a-7d3e-4d28-ac56-ae4c4133b917  494.250091 2017-02-16
 (47, 5)

In [11]:
#Merging both dataframes together to form a new dataframe

merged_df = pd.merge(created_df, fulfilled_df, on = ["order_id"])

In [12]:
merged_df.head()

,event_id_x,event_type_x,order_id,amount_x,created_at_x,event_id_y,event_type_y,amount_y,created_at_y
0,808a9cdf-bb74-4296-a8ba-8787bd09db0b,order_created,eb33363f-62ee-425d-9174-28f812269d2f,882.737114,2009-08-03,ef3ba005-1c87-443f-ac99-ecc0038db073,order_fulfilled,882.737114,2009-08-25
1,5a8dd9cb-e254-449c-8c93-e78254fb4745,order_created,ad2ea0d5-ed66-4d5f-a334-f18c07c2f9ee,440.740871,2008-06-25,d48fbfa0-750b-4d42-865b-33fdeed88548,order_fulfilled,440.740871,2008-08-27
2,2310fce1-7863-48ab-8fb9-66f9d13ade7f,order_created,28cff0c9-27cd-4d60-8489-0608388cf83f,858.093322,2017-11-19,40c0e153-566a-4720-9c03-5e023e2c27c9,order_fulfilled,858.093322,2017-12-13
3,824d8ef7-72ec-43db-9d5b-778edc4ab7d7,order_created,1e4c5e6a-7d3e-4d28-ac56-ae4c4133b917,494.250091,2017-01-01,28858538-87b5-4cd6-8079-2170f1d6c3a3,order_fulfilled,494.250091,2017-02-16
4,2586858e-f32c-4762-8b8d-80856991803f,order_created,98fb367b-24ae-4819-8e13-217b8992ede5,892.752257,2017-05-22,6350a4d4-ec31-4ae6-9170-0735108196f4,order_fulfilled,892.752257,2017-05-27

In [13]:
merged_df.shape

(33, 9)

In [14]:
#Computing the delayed time and storing it as an integer
merged_df["delayed_time"] = (merged_df["created_at_y"] - merged_df["created_at_x"])
merged_df["delayed_time"] = (merged_df["delayed_time"])/ np.timedelta64(1, "D")
merged_df["delayed_time"] = merged_df["delayed_time"].astype(int)

merged_df

,event_id_x,event_type_x,order_id,amount_x,created_at_x,event_id_y,event_type_y,amount_y,created_at_y,delayed_time
0,808a9cdf-bb74-4296-a8ba-8787bd09db0b,order_created,eb33363f-62ee-425d-9174-28f812269d2f,882.737114,2009-08-03,ef3ba005-1c87-443f-ac99-ecc0038db073,order_fulfilled,882.737114,2009-08-25,22
1,5a8dd9cb-e254-449c-8c93-e78254fb4745,order_created,ad2ea0d5-ed66-4d5f-a334-f18c07c2f9ee,440.740871,2008-06-25,d48fbfa0-750b-4d42-865b-33fdeed88548,order_fulfilled,440.740871,2008-08-27,63
2,2310fce1-7863-48ab-8fb9-66f9d13ade7f,order_created,28cff0c9-27cd-4d60-8489-0608388cf83f,858.093322,2017-11-19,40c0e153-566a-4720-9c03-5e023e2c27c9,order_fulfilled,858.093322,2017-12-13,24
3,824d8ef7-72ec-43db-9d5b-778edc4ab7d7,order_created,1e4c5e6a-7d3e-4d28-ac56-ae4c4133b917,494.250091,2017-01-01,28858538-87b5-4cd6-8079-2170f1d6c3a3,order_fulfilled,494.250091,2017-02-16,46
4,2586858e-f32c-4762-8b8d-80856991803f,order_created,98fb367b-24ae-4819-8e13-217b8992ede5,892.752257,2017-05-22,6350a4d4-ec31-4ae6-9170-0735108196f4,order_fulfilled,892.752257,2017-05-27,5
5,439110f1-1e3e-4796-905c-d11fefbd9472,order_created,edffbd5d-5d68-434f-9d62-ed245ee6141b,821.681154,2018-12-15,cbb2bd3a-929f-4344-9cda-07d8210f3a80,order_fulfilled,821.681154,2019-04-27,133
6,a8e38d2d-5220-476c-9465-908b7c14e548,order_created,fcd383f5-08bf-4936-a192-a6b310f334b1,761.541548,2011-12-14,12fe7e99-3cc7-4163-b12e-a8d8b717cb81,order_fulfilled,761.541548,2012-05-01,139
7,abe28e04-a644-4a97-8ba2-28d94bd311d5,order_created,a72e277f-a651-446c-9428-1a84a1dd4730,141.663843,2008-01-28,17968f7c-d30d-4c84-8495-ad22b37b3b4c,order_fulfilled,141.663843,2008-06-18,142
8,b4af99cc-8afe-499a-a4f7-06ec21b0c804,order_created,221304de-bbd0-44f1-9a46-44d5fa00b2c7,195.164010,2010-11-10,79050113-0505-4150-aba2-aa5d4bcb5e40,order_fulfilled,195.164010,2011-03-04,114
9,abbc8b8e-25c4-47dc-8350-121e3e5242b4,order_created,b035b4b1-a2f4-4c9c-87cd-ebf659db4288,275.944331,2017-01-15,af8a82fb-4b01-4d87-b58c-8c87b462e8a3,order_fulfilled,275.944331,2017-02-13,29
10,18e1434f-8b26-404c-9c8e-11e3079fee87,order_created,eb502530-abe1-44b1-9e9b-84f401573802,483.477196,2009-12-19,dba5cd5b-f88f-43af-a8c7-f9dcbb20af74,order_fulfilled,483.477196,2010-01-16,28
11,c8092b03-5d48-4f43-bc17-2d0a2adab34a,order_created,528930bb-4bd4-4202-abb2-20f19d669ed0,33.546744,2017-11-19,34266bee-b36a-4e80-b4b2-a1998291aa33,order_fulfilled,33.546744,2018-05-04,166
12,7c8abc74-adbb-4dfa-b2c0-6d05661b62cf,order_created,9166a8f1-2ba4-4528-b8ca-a4983e366759,287.094120,2008-10-14,0332b012-82f6-4eb1-84b6-107b5c4b2295,order_fulfilled,287.094120,2008-11-27,44
13,f1680fae-f380-40e1-b26c-e13945d61164,order_created,1e865ade-65df-483b-8781-a5468e2b43fe,790.106302,2016-10-11,ebd37bba-b0cc-4e01-a56d-94a945f0342d,order_fulfilled,790.106302,2017-03-26,166
14,9f8bd9f4-1fa5-48e7-9a9b-9edb35d2c7f0,order_created,7d28c7bc-d4b2-4677-b284-a6a4836a4dff,652.612633,2016-08-12,25878d91-0640-4898-bc27-3a8e4dbf8fd1,order_fulfilled,652.612633,2016-09-18,37
15,46b0c11a-dae6-4c49-bb6f-8a3bf1649312,order_created,9964b8bf-47da-43af-bbcf-0b4d8b7ca868,775.934943,2009-09-14,bec5e86c-dd8c-42fa-ba93-cd7a86268e0b,order_fulfilled,775.934943,2010-02-22,161
16,94f556a6-81ff-4163-9c2f-77b134ed9309,order_created,75b7a42f-6fab-4bd8-9000-573efad589fd,821.030641,2017-04-06,e7232bf4-b990-43c6-b3e7-17ca72b0043e,order_fulfilled,821.030641,2017-05-02,26
17,0b3436e5-cf53-447a-8c13-da012a86fa52,order_created,1e8ea0a7-d72e-4046-847c-407368254bc3,531.415394,2009-03-20,c9207bc4-8e93-40d7-8916-6cf174592cee,order_fulfilled,531.415394,2009-05-15,56
18,50d79cf7-d838-4381-9a7e-f269b4b681cb,order_created,b53e7306-ed85-450d-acfd-17fd10daa7d1,821.999585,2013-12-29,f5b22ef1-5105-44b6-a621-9c4b64cd82e0,order_fulfilled,821.999585,2014-02-28,61
19,7844de1c-da81-47c2-b0b9-f0935212ec9f,order_created,4e7e387b-d169-4a50-9fe4-252fe6d05151,73.541934,2018-06-19,436a1d4c-70b1-4fcb-8a00-184cc4b23439,order_fulfilled,73.541934,2018-11-20,154
20,332d46b6-a58a-4c93-87ad-f964be1b48fd,order_created,49b82d71-131f-4a74-a50b-d506cd352a14,98.677111,2010-12-17,21af7ed3-3f69-479f-a7f1-54d4d64e274f,order_fulfilled,98.677111,2011-03-30,103
21,040d4357-b6e6-438b-b8a9-b66a29fe8d24,order_created,e0b27446-0ff2-4a6a-af34-1d7c24e0ee4a,595.412654,2012-01-21,4ab5be2e-3cac-418f-95c3-bd374a63755c,order_fulfilled,595.412654,2012-04-07,77
22,4de2bcfe-89f3-453a-8e87-a2e439ab41df,order_created,f8b8d0f5-8d70-4c30-8425-055ea04c347e,719.449760,2009-01-22,7497dc2a-7b2a-4182-bc4c-01d85a26faad,order_fulfilled,719.449760,2009-05-07,105
23,0d15bcda-96f2-4059-b039-9c1182fba01d,order_created,9f2cdc0e-e8ea-45e1-bbb8-89587b4f5805,644.334570,2014-09-07,67446b31-8afc-4441-9fd7-5734503811ca,order_fulfilled,644.334570,2015-02-20,166
24,d46e0099-a66c-4aa3-a6a7-b4b0e0795a5f,order_created,b7fb6b52-63e1-4b6e-8f5a-3a33bb86a279,226.073424,2015-03-20,11781c59-04be-4dc6-bd3d-e9a670a26be8,order_fulfilled,226.073424,2015-04-08,19
25,965b3c63-8b0a-4b88-828e-1cca57243cef,order_created,1200f016-9333-4bf5-a0d6-6db9d45d3d53,700.198252,2014-12-11,39848381-fc2d-4333-b63c-71b7d7705b80,order_fulfilled,700.198252,2015-03-08,87
26,03b45ca2-d3db-4e12-8dc4-68037ee9064b,order_created,717f3c54-d629-4ebe-aec6-a01b135b9e41,55.402723,2015-01-21,8c3eca04-3d82-4bf1-8e5b-6d3efe364055,order_fulfilled,55.402723,2015-04-22,91
27,9bf3b485-5839-498a-8726-0fdda6ece489,order_created,6d0d252b-82d7-4877-88ea-e464b61382e0,555.015531,2018-04-02,f6e3a5a7-6e76-4bf5-b7b8-514a76794dbd,order_fulfilled,555.015531,2018-08-31,151
28,c42d8bc2-7e6b-46b5-9b5a-408f294abcb7,order_created,271f6c96-0370-4e65-ab54-7de91804390d,34.602215,2018-04-30,f1260a95-9b67-4bee-a298-44c132fc01ed,order_fulfilled,34.602215,2018-08-24,116
29,87b5291e-5e68-4f99-bf2b-8047e3d332ec,order_created,5cf26993-c00e-4a26-827f-b4cff7431d7b,524.085199,2009-09-14,6ddeffe0-9fcc-4d34-8d81-ff72f0206d9e,order_fulfilled,524.085199,2010-03-10,177
30,10886ae5-2ee4-4d45-a3b9-21857a992999,order_created,7d8f7065-867f-489c-b4c8-9ba94f0d62e8,384.991102,2016-07-10,273651e4-aca3-4791-b08f-305b54a2e547,order_fulfilled,384.991102,2016-11-25,138
31,4af34474-d2f7-4640-95ee-dc402ff9cd7c,order_created,d1a35963-14fa-492f-b4e4-a485318df763,186.636708,2008-12-26,047b3227-a0c2-4e2a-828c-75315966e7f7,order_fulfilled,186.636708,2009-06-17,173
32,b694a359-8001-4da5-9977-c64d9395ba86,order_created,d452c011-8c1f-4dc1-8131-557f587c678a,481.596495,2013-04-16,4840fcf7-60d7-46c3-be1a-72026aa843d5,order_fulfilled,481.596495,2013-08-02,108

In [15]:
#Deleting unwanted columns
columns_to_drop = ["event_id_x", "event_type_x", "event_id_y", "event_type_y", "amount_x",
                  "amount_y"]
merged_df = merged_df.drop(labels= columns_to_drop, axis=1)

In [16]:
#Renaming appropraitely for when orders where created and when they were fulfilled
merged_df.rename(columns= {"created_at_x": "order_date", 
                           "created_at_y": "order_fulfilled"}, inplace = True)

#storing only colums with delayed_time>= 30
df_30 = merged_df.loc[merged_df["delayed_time"] >= 30]
df_30

,order_id,order_date,order_fulfilled,delayed_time
1,ad2ea0d5-ed66-4d5f-a334-f18c07c2f9ee,2008-06-25,2008-08-27,63
3,1e4c5e6a-7d3e-4d28-ac56-ae4c4133b917,2017-01-01,2017-02-16,46
5,edffbd5d-5d68-434f-9d62-ed245ee6141b,2018-12-15,2019-04-27,133
6,fcd383f5-08bf-4936-a192-a6b310f334b1,2011-12-14,2012-05-01,139
7,a72e277f-a651-446c-9428-1a84a1dd4730,2008-01-28,2008-06-18,142
8,221304de-bbd0-44f1-9a46-44d5fa00b2c7,2010-11-10,2011-03-04,114
11,528930bb-4bd4-4202-abb2-20f19d669ed0,2017-11-19,2018-05-04,166
12,9166a8f1-2ba4-4528-b8ca-a4983e366759,2008-10-14,2008-11-27,44
13,1e865ade-65df-483b-8781-a5468e2b43fe,2016-10-11,2017-03-26,166
14,7d28c7bc-d4b2-4677-b284-a6a4836a4dff,2016-08-12,2016-09-18,37
15,9964b8bf-47da-43af-bbcf-0b4d8b7ca868,2009-09-14,2010-02-22,161
17,1e8ea0a7-d72e-4046-847c-407368254bc3,2009-03-20,2009-05-15,56
18,b53e7306-ed85-450d-acfd-17fd10daa7d1,2013-12-29,2014-02-28,61
19,4e7e387b-d169-4a50-9fe4-252fe6d05151,2018-06-19,2018-11-20,154
20,49b82d71-131f-4a74-a50b-d506cd352a14,2010-12-17,2011-03-30,103
21,e0b27446-0ff2-4a6a-af34-1d7c24e0ee4a,2012-01-21,2012-04-07,77
22,f8b8d0f5-8d70-4c30-8425-055ea04c347e,2009-01-22,2009-05-07,105
23,9f2cdc0e-e8ea-45e1-bbb8-89587b4f5805,2014-09-07,2015-02-20,166
25,1200f016-9333-4bf5-a0d6-6db9d45d3d53,2014-12-11,2015-03-08,87
26,717f3c54-d629-4ebe-aec6-a01b135b9e41,2015-01-21,2015-04-22,91
27,6d0d252b-82d7-4877-88ea-e464b61382e0,2018-04-02,2018-08-31,151
28,271f6c96-0370-4e65-ab54-7de91804390d,2018-04-30,2018-08-24,116
29,5cf26993-c00e-4a26-827f-b4cff7431d7b,2009-09-14,2010-03-10,177
30,7d8f7065-867f-489c-b4c8-9ba94f0d62e8,2016-07-10,2016-11-25,138
31,d1a35963-14fa-492f-b4e4-a485318df763,2008-12-26,2009-06-17,173
32,d452c011-8c1f-4dc1-8131-557f587c678a,2013-04-16,2013-08-02,108

In [17]:
#Converting the delayed time into a list
df_30_dict = df_30.to_dict()

Q2: Determine the average, minimum, maximum and count delay per month per calendar year where the delay is greater than 30 days.

In [18]:
df_30.describe()

       delayed_time
count     26.000000
mean     114.384615
std       44.800962
min       37.000000
25%       79.500000
50%      115.000000
75%      153.250000
max      177.000000

In [19]:
#Extracting the months and the year from the ordered date
df_30["delayed_month"] = df_30['order_date'].dt.month
df_30["delayed_year"] = df_30['order_date'].dt.year

/home/mellow/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/mellow/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
df_30

,order_id,order_date,order_fulfilled,delayed_time,delayed_month,delayed_year
1,ad2ea0d5-ed66-4d5f-a334-f18c07c2f9ee,2008-06-25,2008-08-27,63,6,2008
3,1e4c5e6a-7d3e-4d28-ac56-ae4c4133b917,2017-01-01,2017-02-16,46,1,2017
5,edffbd5d-5d68-434f-9d62-ed245ee6141b,2018-12-15,2019-04-27,133,12,2018
6,fcd383f5-08bf-4936-a192-a6b310f334b1,2011-12-14,2012-05-01,139,12,2011
7,a72e277f-a651-446c-9428-1a84a1dd4730,2008-01-28,2008-06-18,142,1,2008
8,221304de-bbd0-44f1-9a46-44d5fa00b2c7,2010-11-10,2011-03-04,114,11,2010
11,528930bb-4bd4-4202-abb2-20f19d669ed0,2017-11-19,2018-05-04,166,11,2017
12,9166a8f1-2ba4-4528-b8ca-a4983e366759,2008-10-14,2008-11-27,44,10,2008
13,1e865ade-65df-483b-8781-a5468e2b43fe,2016-10-11,2017-03-26,166,10,2016
14,7d28c7bc-d4b2-4677-b284-a6a4836a4dff,2016-08-12,2016-09-18,37,8,2016
15,9964b8bf-47da-43af-bbcf-0b4d8b7ca868,2009-09-14,2010-02-22,161,9,2009
17,1e8ea0a7-d72e-4046-847c-407368254bc3,2009-03-20,2009-05-15,56,3,2009
18,b53e7306-ed85-450d-acfd-17fd10daa7d1,2013-12-29,2014-02-28,61,12,2013
19,4e7e387b-d169-4a50-9fe4-252fe6d05151,2018-06-19,2018-11-20,154,6,2018
20,49b82d71-131f-4a74-a50b-d506cd352a14,2010-12-17,2011-03-30,103,12,2010
21,e0b27446-0ff2-4a6a-af34-1d7c24e0ee4a,2012-01-21,2012-04-07,77,1,2012
22,f8b8d0f5-8d70-4c30-8425-055ea04c347e,2009-01-22,2009-05-07,105,1,2009
23,9f2cdc0e-e8ea-45e1-bbb8-89587b4f5805,2014-09-07,2015-02-20,166,9,2014
25,1200f016-9333-4bf5-a0d6-6db9d45d3d53,2014-12-11,2015-03-08,87,12,2014
26,717f3c54-d629-4ebe-aec6-a01b135b9e41,2015-01-21,2015-04-22,91,1,2015
27,6d0d252b-82d7-4877-88ea-e464b61382e0,2018-04-02,2018-08-31,151,4,2018
28,271f6c96-0370-4e65-ab54-7de91804390d,2018-04-30,2018-08-24,116,4,2018
29,5cf26993-c00e-4a26-827f-b4cff7431d7b,2009-09-14,2010-03-10,177,9,2009
30,7d8f7065-867f-489c-b4c8-9ba94f0d62e8,2016-07-10,2016-11-25,138,7,2016
31,d1a35963-14fa-492f-b4e4-a485318df763,2008-12-26,2009-06-17,173,12,2008
32,d452c011-8c1f-4dc1-8131-557f587c678a,2013-04-16,2013-08-02,108,4,2013

In [21]:
#Grouping the delayed_time metrics by delayed_year and delayed_month
df_30_agg = df_30.groupby(["delayed_year", "delayed_month"]).agg(
    {"delayed_time": ["mean", "min", "max", "count"]})
df_30_agg

                           delayed_time
                                   mean  min  max count
delayed_year delayed_month
2008         1                    142.0  142  142     1
             6                     63.0   63   63     1
             10                    44.0   44   44     1
             12                   173.0  173  173     1
2009         1                    105.0  105  105     1
             3                     56.0   56   56     1
             9                    169.0  161  177     2
2010         11                   114.0  114  114     1
             12                   103.0  103  103     1
2011         12                   139.0  139  139     1
2012         1                     77.0   77   77     1
2013         4                    108.0  108  108     1
             12                    61.0   61   61     1
2014         9                    166.0  166  166     1
             12                    87.0   87   87     1
2015         1                     91.0   91   91     1
2016         7                    138.0  138  138     1
             8                     37.0   37   37     1
             10                   166.0  166  166     1
2017         1                     46.0   46   46     1
             11                   166.0  166  166     1
2018         4                    133.5  116  151     2
             6                    154.0  154  154     1
             12                   133.0  133  133     1